header {
  display: flex; // Usa flexbox para o layout
  align-items: center; // Alinha verticalmente a imagem e o texto
  padding: 10px;
  background-color: #000000; // Cor de fundo do cabeçalho
  justify-content: space-between; // Espaça os itens para que a logo fique à esquerda e o título centralizado
}

.logo {
  width: auto; // Largura da logo
  height: auto; // Mantém a proporção 
}

h1 {
  color: #ffffff; // Cor do texto do cabeçalho alterada para branco
  margin: 0; // Remove margens superior e inferior para melhor alinhamento
  text-align: center; // Centraliza o texto do título
  flex-grow: 1; // Permite que o título ocupe o espaço disponível
}

h2 {
  color: #333; // Cor dos subtítulos
  margin: 20px 0; // Margem superior e inferior
  text-align: center; 
}

h3 {
  color: #7c1177; // Cor dos subtítulos
  margin: 20px 0 20px 20px; // Margem superior e inferior 
}

// Estilos dos cartões
.card-container {
  border: 1px solid #ddd; // Borda do cartão
  border-radius: 8px; // Bordas arredondadas
  margin: 10px 10px 10px 10px; // Margem superior e inferior
  padding: 15px; // Espaçamento interno
  background-color: #f9f9f9; // Cor de fundo
  display: 100%;
  gap: 16px; /* Espaçamento entre as divs */      
}
.card-container-listar {
  border: 1px solid #ddd; // Borda do cartão
  border-radius: 8px; // Bordas arredondadas
  margin: 10px 10px 10px 10px; // Margem superior e inferior
  padding: 15px; // Espaçamento interno
  background-color: #f9f9f9; // Cor de fundo
  display: flex;
  gap: 20px; /* Espaçamento entre as divs */   
  text-align: center;
  justify-content: center; // Centraliza os itens horizontalmente
  align-items: center; // Centraliza os itens verticalmente 
}

// Estilos de parágrafos
p {
  margin: 8px 0; // Margem superior e inferior
}

// Estilos de texto em negrito
strong {
  color: #444; // Cor do texto em negrito
}

footer {
  text-align: center; // Centraliza o texto
  padding: 20px; // Espaçamento interno
  background-color: #000000; // Cor de fundo do footer
  border-top: 1px solid #ccc; // Linha superior
  position: relative; // Para garantir que o footer não se sobreponha ao conteúdo
  bottom: 0; // Fica na parte inferior
  width: 100%; // Largura total
  color: #ffffff; // Cor do texto do footer alterada para branco
}

.responsive-image {
  width: 100%; // Faz a imagem ocupar toda a largura do seu contêiner
  height: auto; // Mantém a proporção
}

// Estilos dos formulários
.form-group {
  display: flex;
  flex-direction: column; 
}

.input-group {
  margin-bottom: 15px;
  width: 100%; // Garante que o contêiner ocupe a largura total
}


.input-group label {
  margin-bottom: 5px;
}

.input-group input {
  padding: 8px;
  box-sizing: border-box;
  width: 100%; // Faz o input ocupar a largura total da linha
}

button[color="warn"] {
  background-color: #f44336 !important; /* Vermelho */
  color: #fff !important; /* Texto branco */
}