<header>
  <img src="../assets/logo.jpg" alt="Logo da Escola MEDGRUPO" class="logo" />
  <h1>Gerenciamento Escolar</h1>
</header>

<h2>Escolas</h2>
<div *ngFor="let escola of escolas" class="card">
  <p><strong>Nome:</strong> {{ escola.nome }}</p>
  <p><strong>Endereço:</strong> {{ escola.endereco }}</p>
</div>

<h2>Turmas</h2>
<div *ngFor="let turma of turmas" class="card">
  <p><strong>Nome:</strong> {{ turma.nome }}</p>
  <p><strong>Série:</strong> {{ turma.serie }}</p>
</div>

<router-outlet></router-outlet>
<footer>
  <p>&copy; 2024 MEDGRUPO. criado por Rodrigobraga.</p>
</footer>
